/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #F5F5F5;
}

h1,
h2 {
   font-family: 'Playfair Display', serif;
}

img {
   max-width: 100%;
}


h3,
h4,
h5,
h6,
p,
a,
button {
   font-family: 'Poppins', sans-serif;
}

/* banner section design */
#header {
   background: url(../images/banner.webp);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

@media screen and (max-width: 768px) {
   #header {
      background: linear-gradient(#f084847c, #f084847c), url(../images/banner.webp);
      background-position: right;
   }

}